<nav class="home_nav">
<div class="nav_container">
  <a href="{{ path('index') }}" class="main_logo">DevStore.fr</a>
  <input type="search" name="" id="" placeholder="Chercher un produit, une marque, une catégorie">
  <div>
    <ul>
      <li>
        <span class="material-symbols-outlined icons_nav">location_on</span>
        <a href="">Magasin</a>
      </li>
      <li>
        {# {{ if app.user }} #}
        <span class="material-symbols-outlined icons_nav">person</span>
        <a href="">Compte</a> 
        {# <a href="{{ path('profile_details', {id: user.id}) }}">Compte</a> #}
        {# {{ else }} #}
        {# <span class="material-symbols-outlined icons_nav">person</span>
        <a href="{{ path('app_login')}}">Compte</a> #}
        {# {{ endif }} #}
      </li>
      <li>
        <span class="material-symbols-outlined icons_nav">shopping_bag</span>
        <a href="">Panier</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="float_bar"> 
  <div class="float_bar_left">
    <a href="#" class="red_bg">Univers produits</a>
    <a href="#"><span class="material-symbols-outlined">
      desktop_windows</span>PC DevStore
    </a>
    <a href="#"><span class="material-symbols-outlined">
      handyman</span>Configurateur PC
      </a>
    <a href="#"><span class="material-symbols-outlined">
      sports_esports</span>Gaming
      </a>
    <a href="#"><span class="material-symbols-outlined">
      description</span>Guides
      </a>
    <a href="#"><span class="material-symbols-outlined">
      help</span>Aide
      </a>
  </div>
  <div class="float_bar_right">
    <a href="">Promos & Bons plans \/</a>
  </div>
</div>