{% extends 'base.html.twig' %} {% block title %}Inscription{% endblock %} {%
block body %}
<section class="container">
  <div class="row">
    <div class="col">
      <h1>Créez votre compte</h1>

      {{ form_errors(registrationForm) }}

      {{ form_start(registrationForm) }}

      {# Identité de l'utilisateur #}
      <fieldset class="mb-3">
        <legend>Identifiants</legend>
        <p><span>*</span>Champs obligatoires</p>
        {{ form_row(registrationForm.email) }}
        {{
          form_row(registrationForm.plainPassword, {
            label: "Password"
          })
        }}
      </fieldset>

      {# Coordonnées de l'utilisateur #}
      <fieldset class="mb-3">
        <legend>Informations personnelles</legend>
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.address) }}
        {{ form_row(registrationForm.zipcode) }}
        {{ form_row(registrationForm.city) }}
      </fieldset>

      {{ form_row(registrationForm.RgpdConsent) }}

      <button type="submit" class="btn btn-primary btl-lg my-3">S'inscrire</button>
      <p>Déjà inscrit ? C'est par <a href="{{ path('app_login')}}">ici !</a>
      {{ form_end(registrationForm) }}
    </div>
  </div>
</section>

{% endblock %}
